body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container  {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
}
.admin-container  {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
}

.quiz-container  {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
}

h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
} 
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

input{
    width: 500px;
    height: 40px;
    margin-bottom: 15px;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 120px;
    width: 230px;
}
    a{
    margin-left: 120px;
    text-decoration: none;
    color: #166fce;
}
a:hover{
    color:mediumblue;
}
button:hover {
    background-color: #0056b3;
}
.password-container {
    position: relative;
}
.password-container input {
    /*padding-right: 30px;*/
    width: 500px;
}
.toggle-password {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    display: none;
    font-weight: 580;
}