body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.menu-je-suis-container {
    display: flex;
    align-items: center;
}

.menu, .je-suis {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Ajoute de l'espace entre le menu et "Je suis" */
}

.menu button, .je-suis span {
    background-color: #008a50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover, .je-suis span:hover {
    background-color: #005c32;
}

.menu-content, .je-suis-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.menu-content a, .je-suis-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.menu-content a:hover, .je-suis-content a:hover {
    background-color: #f1f1f1;
}

.menu:hover .menu-content, .je-suis:hover .je-suis-content {
    display: block;
}

.container {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group button {
    background-color: #008a50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #005c32;
}
